/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
.my-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  background: #000;
  border-bottom: 1px solid #ffd233;
}
.navbar.sticky {
  padding: 15px 0;
  background: #ffd233;
}
.navbar .my-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img {
  width: 250px;
  margin-top: 10px;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #ffd233;
}

/* Search Column */
.menu .search-box input {
  margin-left: 25px;
  width: 250px;
  height: 40px;
  background: #505050;
  border-radius: 50px;
  padding: 20px;
}
::placeholder {
  color: #ffff;
  opacity: 0.5;
}

/* button sign up */
.menu .btn-signup input {
  width: 90px;
  height: 40px;
  background: #ffd233;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* menu btn styling */
.menu-btn {
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* hotnews(homepage) */
section {
  background-color: #383838;
}

/* Peringkat */
.discuss {
  display: flex;
}
.discuss .my-width {
  margin-top: 120px;
  max-width: 1170px;
  width: 100%;
}
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.add-discuss {
  padding: 30px 0;
  background-color: #000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-bottom: 20px;
}
.add-discuss:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-isi {
  padding: 0 40px;
}
.akun.owner img {
  width: 70px;
  height: 70px;
}
.add-discuss input {
  width: 83%;
  height: 40px;
  background: #505050;
  border-radius: 50px;
  padding: 20px;
  margin-right: 40px;
  cursor: pointer;
}

.akun {
  display: flex;
  align-items: center;
}
.akun img {
  border-radius: 50%;
  margin-left: 40px;
  width: 40px;
  height: 40px;
}
.akun p {
  font-size: 16px;
  margin-left: 10px;
}
.isi-discuss {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 700;
}
.tanggal-discuss {
  margin-top: 10px;
  opacity: 0.5;
  font-size: 20px;
  font-weight: 500;
}
.wrapbtn-discuss {
  display: flex;
  margin-top: 15px;
}
.wrapbtn-discuss input {
  width: 120px;
  margin-right: 15px;
}
.wrap-txtbtn {
  display: flex;
  position: absolute;
  margin-top: 12px;
  margin-left: 20px;
}
.btn-discuss i {
  opacity: 0.5;
}
.wrap-txtbtn p {
  text-align: center;
  margin-left: 20px;
}
.foto-discuss {
  display: flex;
  justify-content: center;
  margin-left: -40px;
}
.foto-discuss img {
  border-radius: 0px;
  width: 300px;
  height: 100%;
}
.modal img{
  margin-top: 65px;
  border-radius: 0px;
  width: 100%px;
  height: 100%;
}

/* footer */
footer {
  background-color: #505050;
}
footer .my-width {
  width: 1120px;
  text-align: center;
}
.footer-box {
  height: 140px;
}
.text-footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.text-footer .pemisah {
  margin-left: 12px;
  margin-right: 12px;
}
.copyright {
  margin-top: 15px;
  color: #bebebe;
}

/* Style untuk gambar */
.foto-discuss {
  display: block;
  margin: auto;
  max-width: 50%;
}

/* Style untuk pop-up */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Style untuk tombol close */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* responsive media query start */
@media (max-width: 1104px) {
}

@media (max-width: 991px) {
  .my-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .my-width {
    max-width: 930px;
  }
}

@media (max-width: 690px) {
  .my-width {
    padding: 0 23px;
  }
}

@media (max-width: 500px) {
}
