/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
.my-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: #000;
    border-bottom: 1px solid #FFD233;
}
.navbar.sticky{
    padding: 15px 0;
    background: #FFD233;
}
.navbar .my-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 250px;
    margin-top: 10px;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #FFD233;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/* Search Column */
.menu .search-box input{
    margin-left: 25px;
    width: 250px;
    height: 40px;
    background: #505050;
    border-radius: 50px;
    color: white;
    padding: 20px;
}
::placeholder{
    color: #7C7C7C;
}

/* button sign up */
.menu .btn-signup input{
    width: 90px;
    height: 40px;
    background: #FFD233;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
} 

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* hotnews(homepage) */
section{
    background-color: #383838;
}
.hotnews{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}
.hotnews .hotnews-content{
    margin-top: 120px;
}
.hotnews .hotnews-content img{
    width: 1000px;
    border-radius: 18px;
}
.hotnews .hotnews-content h1{
    color: white;
    font-size: 40px;
}
.waktu-upload{
    color: #AEAEAE;
    font-weight: 700;
    margin-top: 10px;
    font-size: 17px;
}
.penulis-hotnews{
    display: flex;
    margin-top: 15px;
}
.penulis-hotnews .foto-profile{
    width:60px;
    height: 60px;
}
.penulis-hotnews .foto-profile img{
    width: 100%;
    border-radius: 90px;
}
.akun-hotnews{
    display: flex;
    margin-top: 20px;
    margin-left: 12px;
}
.nama-akun{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.tier-status{
    color: white;
    font-size: 10px;
    margin-left: 5.5px;
}
.hotnews .my-width{
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* populer (homepage) */
.populer{
    width: 100%;
    height: 350px;
}
.populer .my-width{
    display: flex;
    max-width: 1170px;
    width: 100%;
}
.populer .populer-content{
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid #FFD233;
}
.title-section{
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 15px;
}
/* slider */

.bungkus{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.bungkus i{
    position: absolute;
    top: 1080px;
    padding-top: 6.5px;
    color: #FFD233;
    height: 30px;
    width: 30px;
    background-color: #505050;
    text-align: center;
    border-radius: 50%;
}

.bungkus i:last-child{
    right: 258px;
}
.karesel{
    margin-top: 10px;
    display: inline-flex;
}

.kotak{
    margin-left: 10px;
    width: 238px;
    height: 230px;
    background-color: #383838;
    border-radius: 8px;
}
.kotak img{
    width: 238px;
    border-radius: 8px;
}
.kotak h2{
    color: white;
    padding: 10px;
    font-size: 20px;
}

/* Terbaru */
.terbaru{
    width: 100%;
}
.terbaru .my-width{
    display: flex;
    max-width: 1170px;
    width: 100%;
}
.terbaru .terbaru-content{
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid #FFD233;
}

.kotak-terbaru{
    display: flex;
    height: 182px;
    width: 95%;
    margin: auto;
}
.kotak-terbaru img{
    height: 182px;
    border-radius: 8px;
}
.text-terbaru{
    width: 650px;
    margin-top: 15px;
    margin-left: 10px;
}
.kotak-terbaru h3{
    font-size: 32px;
    color: white;
}
.penulis-terbaru{
    display: flex;
    margin-top: 8px;
}
.penulis-terbaru img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.akun-terbaru{
    display: flex;
    margin-left: 10px;
    margin-top: 9px;
}
.terbaru-content li{
    list-style: none;
}

/* footer */
footer{
    background-color: #505050;
}
footer .my-width{
    width: 1120px;
    text-align: center;
}
.footer-box{
    height: 140px;
}
.text-footer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.text-footer a{
    color: white;
}
.text-footer .pemisah{
    color: white;
    margin-left: 12px;
    margin-right: 12px;
}
.copyright{
    margin-top: 15px;
    color: #BEBEBE;
}

/* responsive media query start */
@media (max-width: 1104px) {

}

@media (max-width: 991px) {
    .my-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .my-width{
        max-width: 930px;
    }
}

@media (max-width: 690px) {
    .my-width{
        padding: 0 23px;
    }
}

@media (max-width: 500px) {

}
